body {
    font-family: sans-serif;
}

nav, header{
    background-color: lightgreen
}

img{
    margin: 10px;
}

h1{
    text-align: center;
    background-color:green ;
    color:blue ;
}
footer p{
    background-color: green;
}

footer{
    background-color: white ;
}
